.about {
  position: relative;
  width: 100%;
  height: 300vh; /* Adjusted height for more scrolling space */
  padding-top: 60px; /* Ensure content starts below the navbar */
}

.experience, .education, .contact-links {
  color: white;
  text-align: center;
  margin: 20px;
}

.experience h2, .education h2, .contact-links h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.experience p, .education p, .contact-links p, .contact-links a {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.experience ul, .education ul {
  list-style-type: none;
  padding: 0;
}

.experience ul li, .education ul li {
  margin-bottom: 5px;
}

.contact-links a {
  color: #1e90ff;
  text-decoration: none;
}

.contact-links a:hover {
  text-decoration: underline;
}

.video-background, .scroll-section-wrapper, .list-section, .third-background {
  width: 100%;
  height: 100vh;
}

.scroll-section-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  z-index: 2;
  opacity: 0;
}

.scroll-section-wrapper.visible {
  opacity: 1;
  transform: scale(1);
}

.scroll-section-wrapper.hidden {
  opacity: 0;
  transform: scale(0.8);
}

.list-section {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  padding-bottom: 20px;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.list-section.visible {
  opacity: 1;
}

.list-section.hidden {
  opacity: 0;
}

.third-background {
  z-index: 0;
}

.scroll-down {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  z-index: 4;
  animation: vibrate 1s infinite;
}

.arrow {
  font-size: 2em;
}

.text {
  margin-top: 5px;
  font-size: 1em;
}

@keyframes vibrate {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-5px);
  }
}
