button {
    padding: 0.5em 2em;
    background-color: #1e90ff;
    color: white;
    border: none;
    cursor: pointer;
    margin: 1em 0;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #104e8b;
  }
  