.list-section {
    position: fixed; /* Fixed position to stay at the bottom */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3; /* Ensure list section is above video and background */
    padding-bottom: 20px; /* Add some padding at the bottom */
    transition: opacity 1s ease-in-out; /* Smooth transition */
    opacity: 0;
  }
  
  .list-section.visible {
    opacity: 1;
  }
  
  .list-section.hidden {
    opacity: 0;
  }
  