.scroll-section-wrapper {
  position: fixed; /* Fix the position */
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('../animations/second-background.jpg'); /* Include the second background image */
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Smooth transition */
  z-index: 1; /* Ensure scroll section is below the third background */
  opacity: 0;
  display: block; /* Ensure the section is displayed */
}

.scroll-section-wrapper.visible {
  opacity: 1;
  transform: scale(1);
}

.scroll-section-wrapper.semi-visible {
  opacity: 1;
  transform: scale(0.9);
}

.scroll-section-wrapper.hidden {
  opacity: 0;
  transform: scale(0.8);
  display: none; /* Hide the section when not visible */
}

.education {
  margin-top: 50px; /* Adjust this value to move the text down */
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.education h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.education p {
  font-size: 1.2em;
  margin-bottom: 10px;
}