.third-background {
  position: fixed; /* Fix the position */
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('../animations/third-background.jpg'); /* Include the third background image */
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Smooth transition */
  z-index: 2; /* Ensure the background is above the second background */
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.third-background.visible {
  opacity: 1;
  transform: scale(1);
}

.third-background.hidden {
  opacity: 0;
  transform: scale(0.8);
  display: none; /* Hide the section when not visible */
}

.contact-links {
  margin-top: 20px;
}

.contact-links h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.contact-links p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.contact-links a {
  color: #1e90ff;
  text-decoration: none;
}

.contact-links a:hover {
  text-decoration: underline;
}

.about-me.visable {
  opacity: 1;
  transform: scale(1);

  font-size: 1.5em;
  margin-top: 20px;
  max-width: 800px;
}

.about-me.hidden {
  opacity: 0;
  transform: scale(1);
  display: none; /* Hide the section when not visible */
  font-size: 1.5em;
  margin-top: 20px;
  max-width: 800px;
}
